/* twitter color scheme
  dark mode:  #14171a;
twitter border grey: #aab8c2
twitter hover grey: #657786
*/

#main {
  display: grid;
  grid-template-columns: 1fr 40px 2fr;
}
/* loader from w3schools */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tweet-feed {
  padding-left: 20%;
}
#tweets:hover {
  transition-property: background-color, box-shadow;
  background-color: rgb(255, 255, 255, 0.03);
  transition-duration: 0.2s;
}

#tweets {
  /* styling from twitter dev portal */
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  line-height: 16px;
  border: 0 solid var(--extra-light-grey);
  border-width: 1px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); */
  cursor: pointer;
  padding: 0 16px 16px 16px;
  width: 568px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}
h3 {
  font-size: 15px;
  color: var(--extra-extra-light-grey);
  font-weight: bold;
}
h4 {
  font-size: 15px;
  color: var(--light-grey);
}
/* the elements of a tweet  */
.avatar {
  border-radius: 45px;
  padding: 20px;
  /* grid-column: col;
  grid-row: row / span 3; */
}

.tweet-body {
  flex: 1;
  padding: 10px;
}
.user:hover {
  text-decoration: underline;
}

.tweet-header {
  display: flex;
  align-items: center;
}
.tweet-header > * {
  margin: 5px;
}

.user:hover {
  text-decoration: underline;
}
.date {
  font-weight: var(--light-grey);
}
.content {
  /* styling from twitter dev portal */
  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 20px;
}
/* .rt-bar {
   grid-column: col 2 / span 3;
  grid-row: row 3; 
} */
