.sidebar-content {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
}
li:hover {
  background-color: #aab8c2;
  border-radius: 20px;
}
#sidebar-content--headers {
  font-size: 1.2rem;
}
.sidebar-content > h2 {
  padding-left: 20px;
}
